*::-webkit-input-placeholder {
    color: #bbb;
    opacity: 1;
}
*:-moz-placeholder {
    color: #bbb;
    opacity: 1;
}
*::-moz-placeholder {
    color: #bbb;
    opacity: 1;
}
*:-ms-input-placeholder {
    color: #666;
    opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {

}
body input:required:valid,
body textarea:required:valid {

}
body {
    font-family: "RobotoRegular", sans-serif;
    font-size: 14px;
    background-color: #f3eddc;
}

/* header */

header .top_header .logo {
    padding-top: 31px;
}
header .top_header .header_search h2 {
    text-transform: uppercase;
    text-align: center; 
    color: #ff7920;
    font-size: 16px;
    font-family: "RobotoBold";
}
header .top_header .header_search_p {
    padding: 0;
}
header .top_header .header_search p {
    color: #ff7920;
    font-size: 14px;
    font-family: "RobotoBold";
    text-align: right;
    margin: 13px 0;
}
header .top_header .header_search .search {
    width: 100%; 
    position: relative;
}
header .top_header .header_search .search input {
    border: none;
    width: 100%;
    height: 46px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 40px;

}
header .top_header .header_search .search .submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 15%;
    height: 100%;
    cursor: pointer;
    background: url(../img/search-icon.png) no-repeat center;
    padding-left: 6px;
}
header .top_header ul {
    margin: 0;
    padding: 15px 15px 14px 15px;
    font-size: 0;
}
header .top_header .p0 {
    padding: 0;
}
header .top_header ul li {
    display: inline-block;
    margin-right: 15px;
}
header .top_header ul li:last-child {
    margin-right: 0;
}
header .top_header ul li a {
    color: #9e9e9d;
    font-size: 13px;
}
header .top_header ul li a:hover {
    color: #4a4a4a;
}
header .top_header .profile {
    margin: 13px 0;
}
header .top_header .profile a {
    color: #4A4A48;
    padding-left: 20px;
    margin: 0 0 15px 0;
}
header .top_header .profile .entrance:after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: url(../img/profile_entrance.jpg) no-repeat center;
    position: absolute;
    top: 3px;
    left: 12px;
}
header .top_header .profile .registration:after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: url(../img/header_profile_right.png) no-repeat center;
    position: absolute;
    top: 3px;
    left: 12px;
}
header .top_header .write_review .left {
    background-color: #ff7920;
    height: 100%;
    padding: 0;
}
header .top_header .write_review .left a {
    color: #fff;
    height: 100%;
    width: 100%;
    display: block;
    padding: 13px 15px;
    position: relative;
    text-transform: uppercase;
    font-family: "RobotoBold";
    text-align: center;
    transition: 1s;
}
header .top_header .write_review .left a:hover {
    background-color: #E2781F;
    transition: 1s;
    text-decoration: none;
}

header .header_nav {
    background-color: #fff;
    height: 51px;
    margin-top: 28px;
    margin-bottom: 39px;
    border-top: 3px solid #ff7920;
    border-bottom: 1px solid #ff7920;
}
header .header_nav ul {
    height: 100%;
    margin: 0 15px;
    padding: 0;
    font-size: 0;
}
header .header_nav ul li {
    height: 100%;
    display: inline-block;
}
header .header_nav ul li:last-child a {
    padding: 13px 48px 16px 42px;
}
header .header_nav ul li:last-child a:after {
    content: "";
    display: block;
    width: 8px;
    height: 6px;
    border: 5px solid transparent;	
    border-top: 6px solid #4a4a4a;
    position: absolute;
    top: 20px;
    right: 25px;
}
header .header_nav ul li a {
    height: 100%;
    display: inline-block;
    color: #4a4a4a;
    background-color: #fff;
    font-family: "RobotoBold";
    font-size: 14px;
    padding: 13px 32px 16px 32px;
    text-transform: uppercase;
    position: relative;
    transition: 0.8s;
}
header .header_nav ul li a:hover {
    background-color: #ff7920;
    color: #fff;
    transition: 0.8s;
    text-decoration: none;
}

/* main */

main .banner {
    margin-bottom: 15px;
}
main .banner img {
    width: 100%;
}
main .sidebar .sidebar_box {
    background-color: #fff;
}
main .sidebar .sidebar_box h2 {
    margin: 0;
    padding: 20px 0 20px 20px;
    border-bottom: 1px solid #e9e9e9;
    color: #417505;
    font-weight: bold;
    font-size: 16px;
    font-family: "RobotoRegular";
}
main .sidebar .sidebar_box ul {
    padding: 20px 0;
    margin: 0;
}
main .sidebar .sidebar_box ul li {
    list-style-type: none;
    padding: 9px 0 9px 20px;
    color: #4d4d4d;
    cursor: pointer;
    position: relative;
}
main .sidebar .sidebar_box ul li:hover {
    transition: 0.5s;
    padding: 9px 0 9px 50px;
    color: #ff7920;
}
main .sidebar .sidebar_box ul li:hover span {
    display: block;
}
main .sidebar .sidebar_box ul li a {
    color: inherit;

}
main .sidebar .sidebar_box ul li span {
    background: #ff7920;
    width: 6px;
    height: 6px;
    display: block;
    position: absolute;
    top: 16px;
    left: 23px;
    border-radius: 50%;
    display: none;
}
/* index */

main .news {
    margin-bottom: 35px;
    padding: 0 15px;
}
main .news .block {
    padding: 1px;
    position: relative;
    overflow: hidden;
}
main .news .block img {
    width: 100%;
}
main .news .block .info {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 0 10px;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=0 ); /* IE6-9 */
}
main .news .block .info img {
    width: auto;
}
main .news .block .info p {
    margin: 0;
    padding: 2px 0 10px 0;
    color: #fff;
}
main .news .block .info .comments {
    background: url(../img/comments-bg.png) no-repeat center;
    width: 21px;
    height: 18px;
    position: absolute;
    top: 0;
    right: 10px;
} 
main .news .block .info .comments p {
    text-align: center;
    font-size: 13px;
    line-height: 14px;
    margin: 0;
    color: #4a4a4a;
    padding: 0;
}
main .top_news {
    margin-top: 55px;
    margin-bottom: 25px;
}
main .top_news ul {
    float: right;
    margin: 0 0 25px 0;
    padding: 0;
}
main .top_news ul li {
    display: inline-block;
    margin-left: 35px;
    color: #5e5e5e;
}
main .top_news ul li.active {
    color: #ff7920;
}
main .top_news ul li a {
    color: inherit;
}
main .top_news .block {
    background-color: #fff;
    margin: 0 0 10px 0;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.34);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.34);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.34);
}
main .top_news .block .left {
    padding: 0;
    position: relative;
}
main .top_news .block .left img {
    width: 100%;
}

main .top_news .block .left .comments_box {
    width: 100%;
    height: 70px;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=0 ); /* IE6-9 */
    position: absolute;
    bottom: 0;
}
main .top_news .block .left .comments {
    background: url(../img/comments-bg-border.png) no-repeat center;
    width: 29px;
    height: 24px;
    position: absolute;
    bottom: 15px;
    right: 20px;
} 
main .top_news .block .left .comments p {
    text-align: center;
    font-size: 13px;
    line-height: 21px;
    margin: 0;
    color: #fff;
    padding: 0;
}
main .top_news .block .right {

}
main .top_news .block .right h3 {
    margin: 20px 0;
    padding: 0;
    font-size: 14px;
    color: #ff7920;
}
main .top_news .block .right .line {
    border-bottom: 2px solid #f3f3f1;
}
main .top_news .block .right .rating p {
    display: block;
    margin: 20px 10px 20px 65px;
    padding: 0;
    font-family: "RobotoBold";
    font-size: 16px;
    color: #ff7920;
    float: left;
}
main .top_news .block .right .stars span {
    width: 13px;
    height: 12px;
    background: url(../img/star1_active.png) no-repeat center;
    display: inline-block;
    position: relative;
    top: 0;
}
main .top_news .block .right .stars {
    float: left;
    margin: 21px 0;
}
main .top_news .block .right h2 {
    margin: 20px 0 10px 0;
    padding: 0;
    color: #47790b;
    font-size: 15px;
    font-weight: bold;
}
main .top_news .block .right p {
    color: #000;
    font-family: "RobotoRegular";
    font-size: 14px;
    margin: 0 0 20px 0;
    padding: 0;
}
main .top_news .block .right img {
    margin-right: 6px;
    margin-bottom: 24px;
}
main .top_news .block .right span {
    color: #ededec;
    position: relative;
    top: 10px;
}
main .top_news .block .right .autor {
    float: right;
}
main .top_news .block .right .autor p {
    margin: 20px 0 0 0;
    padding: 0;
    color: #9f9f9e;
}

/* footer */

footer {
    background-color: #4a4a4a;
    margin-top: 35px;
}
footer h3 {
    color: #fff;
    margin: 25px 0 20px 0;
    padding: 0;
    text-transform: uppercase;
}
footer .left p {
    color: #9b9b9b;
    margin: 0;
    padding: 0;
}

footer .left .footer_search {
    width: 100%; 
    position: relative;
    margin-top: 25px;
    color: #bbb;
    font-family: "RobotoBold";
}
footer .left .footer_search input {
    border: none;
    width: 100%;
    height: 46px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: transparent;
    padding-left: 20px;
    padding-right: 50px;
    border: 1px solid #bbb;
}
footer .left .footer_search .submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 15%;
    height: 100%;
    cursor: pointer;
    background: url(../img/search-icon-white.png) no-repeat center;
    padding-left: 6px;
    border: none;
}
footer .right {
}
footer .right ul {
    padding: 0;
    margin: 0;
    color: #9b9b9b;
}
footer .right ul li {
    list-style-type: none;
    margin-bottom: 17px;
    position: relative;
}
footer .right ul li:last-child {
    margin-bottom: 0;
}
footer .right ul li a.last:after {
    content: "";
    display: block;
    width: 8px;
    height: 6px;
    border: 5px solid transparent;	
    border-top: 6px solid #9b9b9b;
    position: absolute;
    top: 8px;
    right: 150px;
}
footer .right ul li a:hover {
    color: #ff7900;
}
footer .right ul li a {
    color: inherit;
}
footer .right ul .ul_column {
    padding: 0;
}

footer .copyright {
    border-top: 2px solid #545454;
    margin: 30px 0 0 0;
}
footer .copyright .p0 {
    padding: 0;
}
footer .copyright p {
    color: #9b9b9b;
    padding: 15px 0;
    margin: 0;
}
footer .copyright img {
    padding: 15px 0;
    display: block;
    float: right;
}

/* text-page */

h2.see_also {
    margin: 40px 0 -20px 0;
    padding: 0;
}

/* Навигационный маршрут */
.breadcrumb>li+li:before {
    color: #86847e;
    content: "I\00a0";
}
.breadcrumb {
    padding: 0;
    background-color: transparent;
}
.breadcrumb>.active {
    color: #417505;
    font-weight: bold;
}
.breadcrumb a {
    color: #4a4a4a;
}

.about_us {
    background-color: #fff;
    margin: 0;
    padding: 25px 20px 20px 20px;
    margin-bottom: 34px;
}
.about_us h2 {
    margin: 0 0 25px 0;
    padding: 0;
    text-transform: uppercase;
    text-align: left;
    font-size: 16px;
    font-family: "RobotoBold";
}
.about_us p {
    margin: 0 0 20px;
    font-size: 14px;
    font-family: "RobotoRegular";
}

/* get_in_touch */

.get_in_touch {
    background-color: #fff;
    margin: 0;
    padding: 25px 20px 20px 20px;
    margin-bottom: 40px;
}
.get_in_touch h2 {
    margin: 0 0 25px 0;
    padding: 0;
    text-align: left;
    font-size: 20px;
    font-family: "RobotoBold";
}
.get_in_touch p {
    margin: 0 0 20px;
    font-size: 14px;
    font-family: "RobotoRegular";
}
.get_in_touch input {
    width: 100%;
    padding: 15px 18px;
    border: 1px solid #d6d6d6;
}
.get_in_touch textarea {
    width: 100%;
    padding: 15px 18px;
    border: 1px solid #d6d6d6;
    min-height: 124px;
}
.get_in_touch .form-group {
    margin-bottom: 20px;
}
.get_in_touch button {
    margin: 0 auto;
    display: block;
    border: none;
    color: #fff;
    background-color: #ff7920;
    padding: 15px 80px;
}
.get_in_touch button:hover {
    background-color: #E2781F;
}

/* add_new_topic_review */

.add_new_topic_review {
    background-color: #fff;
    margin: 0;
    padding: 25px 20px 20px 20px;
    margin-bottom: 40px;
}
.add_new_topic_review h2 {
    margin: 0 0 25px 0;
    padding: 0;
    text-transform: uppercase;
    text-align: left;
    font-size: 22px;
    font-family: "RobotoBold";
}
.add_new_topic_review p {
    margin: 0 0 25px;
    font-size: 15px;
    font-family: "RobotoRegular";
}
.add_new_topic_review .search {
    width: 100%; 
    position: relative;
    border: 1px solid #9b9b9b;
}
.add_new_topic_review .search input {
    border: none;
    width: 100%;
    height: 46px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    padding-left: 20px;
}
.add_new_topic_review .search .submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    cursor: pointer;
    padding-left: 6px;
    background-color: #ff7920;
    color: #fff;
}
.add_new_topic_review .help h3 {
    margin: 35px 0 10px 0;
    padding: 0;
    font-size: 15px;
    font-family: "RobotoRegular";
    color: #417505;
    font-weight: bold;
    
}
.add_new_topic_review .help p {
    margin: 0 0 5px 0;
    padding: 0;
    font-size: 15px;
    font-family: "RobotoItalic";
    color: #9d9d9d;
}

/* profile_my_reviews */

.personal_area {
    margin: 0;
}
.personal_area ul {
    background-color: #fff;
    padding: 30px 20px;
    margin: 0;
    color: #9b9b9b;
    font-size: 0;
}
.personal_area ul li {
    display: inline-block;
    margin-right: 30px;
}
.personal_area ul li:last-child {
    margin-right: 0;
}
.personal_area ul li.active {
    color: #ff7d26;
}
.personal_area ul li a {
    color: inherit;
    font-size: 14px;
}
.profile_my_reviews .top_news {
    margin: 12px 0 39px 0;
}
.profile_my_reviews .top_news .block {
    box-shadow: none;
}

/* profile_subscribes */

.personal_area .box {
    border-top: 2px solid #ebebeb;
    margin-bottom: 41px;
    background-color: #fff;
    padding-bottom: 30px;

}
.personal_area .box .block {
    margin: 0 20px;
    padding: 20px 0;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #f2f2f2;
    float: none;
}
.personal_area .box .block:first-child {
    border-top: none;
}
.personal_area .box .block:last-child {
    border-bottom: none;
}
.profile_subscribes .box .block img {
    border: 1px solid #dcdcdc;
    border-radius: 50%;
}
.profile_subscribes .box .block h3 {
    margin: 15px 0 15px 0;
    padding: 0;
    color: #4a4a4a;
    font-family: "RobotoMedium";
    font-size: 20px;
}
.profile_subscribes .box .block h4 {
    margin: 0;
    padding: 0;
    color: #4a4a4a;
    font-family: "RobotoMedium";
    font-size: 14px;
}
.profile_subscribes .box .block h4 span {
    font-family: "RobotoRegular";
}
.profile_subscribes .box .block a {
    display: block;
    text-align: right;
    margin-top: 16px;
}
.profile_subscribes .box .block a.send_message {
    color: #4e7f16;
}
.profile_subscribes .box .block a.unfollow {
    color: #9b9b9b;
}

/* profile */

.profile .box .block img {
    border: 1px solid #dcdcdc;
    border-radius: 50%;
}
.profile .box .block h3 {
    margin: 5px 0 25px 15px;
    padding: 0;
}
.profile .box .block a.amend {
    display: block;
    text-align: right;
    margin-top: 16px;
    color: #4e7f16;
}
.profile .box .block p {
    margin-bottom: 20px;
    margin-left: 15px;
}
.profile .box .block p.name {
    padding-left: 30px;
    background: url(../img/profile.png) no-repeat left center;
}
.profile .box .block p.email {
    padding-left: 30px;
    background: url(../img/email.png) no-repeat left center;
}
.profile .box .block p.password {
    padding-left: 30px;
    background: url(../img/password.png) no-repeat left center;
}

.profile .box .block h4 {
    margin: 0;
    padding: 0;
    color: #4a4a4a;
    font-family: "RobotoMedium";
    font-size: 14px;
    line-height: 40px;
}
.profile .box .block h4 span {
    font-family: "RobotoRegular";
    margin-left: 10px;
}
.profile .box .block form.delivery p{
    padding: 0;
    margin: 0px 0 15px 18px;
    line-height: 13px;
}
.profile .box .block form.delivery input[type=checkbox].css-checkbox {
    position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}
.profile .box .block form.delivery input[type=checkbox].css-checkbox + label.css-label, input[type=checkbox].css-checkbox + label.css-label.clr {
    padding-left:22px;
    height:17px; 
    display:inline-block;
    line-height:17px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:17px;
    vertical-align:middle;
    cursor:pointer;
}
.profile .box .block form.delivery input[type=checkbox].css-checkbox:checked + label.css-label, input[type=checkbox].css-checkbox + label.css-label.chk {
    background-position: 0 -17px;
}
.profile .box .block form.delivery label.css-label {
    background-image:url(../img/checkbox.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.profile .box .block form.delivery input {
    margin: 0;
    float: left;
}
.profile .box .block form.delivery label {
    float: left;
}
.profile .box .block a.manage_subscriptions {
    display: block;
    text-align: right;
    margin-top: 16px;
    color: #4e7f16;
}

/* profile_money */

.profile_money .box {
    padding: 25px 20px 50px 20px;
}
.profile_money .box p {
    margin-bottom: 25px;
    font-family: "RobotoRegular";
    font-size: 14px;
}
.profile_money .box h3 {
    padding: 15px 0 0 0;
    margin: 0;
    font-size: 16px;
    color: #417505;
    font-weight: bold;
    font-family: "RobotoMedium";
}
.profile_money .box h3 span {
    font-family: "RobotoRegular";
    color: #4a4a4a;
}

/* viewing_profile */

.viewing_profile .box {
    margin-bottom: 10px;
    padding: 0;
}
.viewing_profile .box .block {
    padding: 30px 0;
}
.viewing_profile .box .block h3 {
    margin: 15px 0 15px 0;
    padding: 0;
    color: #4a4a4a;
    font-family: "RobotoMedium";
    font-size: 20px;
}
.viewing_profile .box .block h4 {
    margin: 0;
    padding: 0;
    color: #4a4a4a;
    font-family: "RobotoMedium";
    font-size: 14px;
}
.viewing_profile .box .block a {
    display: block;
    text-align: right;
    margin-top: 16px;
}
.viewing_profile .box .block a.send_message {
    color: #4e7f16;
}
.viewing_profile .box .block a.follow {
    color: #ff7a21;
}
.viewing_profile .top_news .block {
    box-shadow: none;
}
.viewing_profile .top_news {
    margin-top: 0;
}

/* earn */

.earn {
    margin: 0 0 40px 0;
    background-color: #fff;
}
.earn .earn_logo img {
    display: block;
    margin: 0 auto 10px auto;
}
.earn h2 {
    margin: 25px 0 35px 0;
    padding: 0; 
    color: #4a4a4a;
    text-transform: uppercase;
    font-size: 22px;
    font-family: "RobotoBold";
}
.earn .table {
    margin-top: 50px;
}
.earn .table > thead > tr > th {
    color: #ff7920;
}
.earn .table > tbody > tr > td {
    border: none;
    line-height: 15px;
}
.earn .table > thead > tr > th:nth-child(1) {
    width: 45%;
}
.earn .table > thead > tr > th:nth-child(2) {
    width: 20%;
}
.earn .table > thead > tr > th:nth-child(3) {
    width: 20%;
}
.earn .table > thead > tr > th:nth-child(4) {
    width: 15%;
}
.earn .table > tbody > tr > td:nth-child(2) {
    font-size: 13px;
}
.earn .table > tbody > tr > td > img {
    margin-right: 10px;
}
.earn ul {
    float: right;
    margin: 35px 0;
}
.earn ul li {
    display: inline-block;
}
.earn ul li a {
    color: #4a4a4a;
    padding: 0 8px;
    font-size: 14px;
}
.earn ul li a.active {
    color: #ff8d42;
    cursor: text;
}
.earn ul li a.active:hover {
    text-decoration: none;
}

/* profile_draft */

.profile_draft ul {
    margin-bottom: 12px;
}
.profile_draft .block {
    margin: 0 0 12px 0;
    background-color: #fff;
    padding: 20px 22px;
}
.profile_draft .block h2 {
    color: #417505;
    font-weight: bold;
    margin: 0 0 15px 0;
    padding: 0;
    font-size: 14px;
}
.profile_draft .block h3 {
    display: block;
    color: #a1a1a0;
    margin: 0 0 15px 0;
    padding: 0;
    font-size: 14px;
}
.profile_draft .block .line {
    border-bottom: 2px solid #f3f3f1;
    margin-bottom: 15px;
}
.profile_draft .block p {
    margin: 0 0 15px 0;
}
.profile_draft .block img {
    margin-right: 6px;
}
.profile_draft .block span {
    color: #ededec;
}

/* listing */

.listing {
    padding: 0 0 30px 0;
}
.listing .top_news {
    margin: 0;
}
.listing .top_news .block {
    box-shadow: none;
}
.listing .sorting {
    background-color: #f3eddc;
}
.listing .listing_h2 {
    background-color: #f3eddc;
}
.listing .listing_h2 h2 {
    margin: 10px 0 25px 0;
    padding: 0;
    text-transform: uppercase;
    text-align: left;
    font-size: 22px;
    font-family: "RobotoBold";
}
.listing .listing_h2 .sponsor {
    background-color: #d8d8d8;
}
.listing .listing_h2 .sponsor p {
    margin: 0;
    padding: 20px 0;
    text-align: center;
    color: #9b9b9b;
}
.listing .sorting ul {
    float: right;
    background-color: transparent;
    padding: 30px 0;
    margin-top: 40px;
}
.pagination ul {
    background-color: transparent;
    float: right;
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.pagination ul li {
    display: inline-block;
    margin: 0;
}
.pagination ul li a {
    color: #4a4a4a;
    padding: 0 8px;
    font-size: 14px;
}
.pagination ul li a.active {
    color: #ff8d42;
    cursor: text;
}
.pagination ul li a.active:hover {
    text-decoration: none;
}

/* profile_edit */

.profile_edit form {
    margin: 0 0 0 15px;
}
.profile_edit form input {
    width: 60%;
    padding: 10px 0 10px 40px;
    border: 1px solid #d6d6d6;
    color: #9b9b9b;
}
.profile_edit form input:focus {
    border: 1px solid #ff7920;
    outline: none;
}
.profile_edit form input[type="text"] {
    background: url(../img/profile.png) no-repeat 10px center;
}
.profile_edit form input[type="email"] {
    background: url(../img/email.png) no-repeat 10px center;
}
.profile_edit form input[type="password"] {
    background: url(../img/password.png) no-repeat 10px center;
}
.profile_edit form .form-group {
    margin-bottom: 9px;
}
.profile_edit .box .block form.delivery {
    margin: 0;
}
.profile_edit .box .block form.delivery p{
    padding: 0;
    margin: 0px 0 15px 18px;
    line-height: 13px;
}
.profile_edit .box .block form.delivery input {
    width: auto;
    margin: 0;
    float: left;
}

/* topic */

.topic {
    margin: 0;
    background-color: transparent;
}
.topic h2 {
    margin: 0 0 25px 0;
    padding: 0;
    text-transform: uppercase;
    text-align: left;
    font-size: 22px;
    font-family: "RobotoBold";
}
.topic .table {
    margin: 0 0 30px 0;
}
.topic .table > tbody > tr > td {
    border: none;
}
.topic .table > tbody > tr {
    background-color: #e9f5b3;
}
.topic .table > tbody > tr:nth-child(2n) {
    background-color: #fff;
}
.topic .topic_profile img {
    display: block;
    margin: 0 auto !important;
}
.topic .topic_profile h5 {
    text-align: center;
    color: #ababaa;
}
.topic .topic_profile .stars {
    padding: 0 12px;
}
.topic .topic_profile .stars img {
    display: inline-block;
    margin: 0 auto !important;
}

.topic .block {
    margin: 0 0 12px 0;
    background-color: #fff;
    padding: 20px 22px;
}
.topic .block h3 {
    color: #417505;
    font-weight: bold;
    margin: 0 0 15px 0;
    padding: 0;
    font-size: 14px;
}
.topic .block h4 {
    display: block;
    color: #a1a1a0;
    margin: 0 0 15px 0;
    padding: 0;
    font-size: 14px;
}
.topic .block .line {
    border-bottom: 2px solid #f3f3f1;
    margin-bottom: 15px;
}
.topic .block p {
    margin: 0 0 15px 0;
}
.topic .block img {
    margin-right: 6px;
}
.topic .block span {
    color: #ededec;
}
.topic .table > tbody > tr > td:nth-child(1) {
    width: 20%;
}
.topic .table > tbody > tr > td:nth-child(2) {
    width: 50%;
}
.topic .table > tbody > tr > td:nth-child(3) {
    width: 15%;
    color: #e0211d;
    font-family: "RobotoBold";
}
.topic .table > tbody > tr > td:nth-child(4) {
    width: 15%;
}
.topic .table > tbody > tr > td img {
    margin-right: 8px;
}
.topic .table > tbody > tr > td a {
    color: #1d669e;
    font-family: "RobotoBold";
}
.topic .table > tbody > tr > td:nth-child(4) a {
    width: 15%;
    border: 1px solid #dcdcdc;
    color: #000;
    font-family: "RobotoRegular";
    padding: 2px 15px;
    border-radius: 3px;
    background: rgb(241,241,241); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(241,241,241,1) 0%, rgba(225,225,225,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(241,241,241,1) 0%,rgba(225,225,225,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(241,241,241,1) 0%,rgba(225,225,225,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#e1e1e1',GradientType=0 ); /* IE6-9 */
}
.topic .table > tbody > tr > td:nth-child(4) a:hover {
    text-decoration: none;
    cursor: pointer;
    background: rgb(241,241,241);
}
.topic .top_news .block {
    box-shadow: none;
    padding: 0;
}
.topic .top_news .block .right .rating p {
    margin: 20px 10px 20px 55px;
}
.topic .top_news .block .right h2 {
    margin: 6px 0 10px 0;
    font-size: 14px;
}
.topic .review_social {
    margin-bottom: 45px;
}

/* profile_message */
.profile_message .box {
    padding-bottom: 0;
}
.profile_message  .send_1 {
    background-color: #f8f8f8;
    text-align: left;
    width: 100%;
    padding: 22px 0;
}
.profile_message  .send_1 span {
    color: #4a4a4a;
    font-weight: bold;
}
.profile_message  .send_2 {
    background-color: #e6e6e6;
    text-align: right;
    padding: 22px 0;
}
.profile_message  .send_2 p {
    color: #4a4a4a;
    padding:  0 18px;
    margin: 0 0 0 20px;
}
.profile_message .date p {
    text-align: center;
    color: #ff7920;
    background-color: #f8f8f8;
    margin-bottom: 0;
    padding: 20px 0;
}
.profile_message  .date span {
    color: #4a4a4a;
    font-weight: bold;
}
.profile_message textarea {
    resize: none;
    width: 70%;
    border: none;
    min-height: 30px; 
    float: left;
    padding: 15px 15px 0 30px;
    outline: none;
}
.profile_message input {
    width: 30%;
    height: 55px;
    background-color: #ff7920;
    border: none;
    color: #fff;
    outline: none;
}
.profile_message input:hover {
    background-color: #E2781F;
}

/* profile_messages_list */

.profile_messages_list .table > thead > tr > th {
    color: #ff7920;
}
.profile_messages_list .table > tbody > tr > td {
    border: none;
    line-height: 15px;
    padding-top: 20px;
}
.profile_messages_list .table > thead > tr > th {
    padding: 30px 8px 20px 8px;
}
.profile_messages_list .table > thead > tr > th:nth-child(1) {
    width: 40%;
}
.profile_messages_list .table > thead > tr > th:nth-child(2) {
    width: 20%;
}
.profile_messages_list .table > thead > tr > th:nth-child(3) {
    width: 40%;
}
.profile_messages_list .table > tbody > tr {
    border-bottom: 1px solid #ddd;
}
.profile_messages_list .table > tbody > tr.active {
    background-color: #f8f8f8;
}
.profile_messages_list .table > tbody > tr:last-child {
    border-bottom: none;
}
.profile_messages_list .table > thead > tr > th {
    border-bottom: 1px solid #ddd;
}
.profile_messages_list .table-responsive>.table>tbody>tr>td, 
.profile_messages_list .table-responsive>.table>tbody>tr>th, 
.profile_messages_list .table-responsive>.table>tfoot>tr>td, 
.profile_messages_list .table-responsive>.table>tfoot>tr>th, 
.profile_messages_list .table-responsive>.table>thead>tr>td, 
.profile_messages_list .table-responsive>.table>thead>tr>th {
    white-space: normal;
}

/* review */

.review {
    margin: 0;
}
.review img {
    width: 100%;
}
.review .home {
    background-color: #fff;
    padding: 0;
    margin-bottom: 34px;
}
.review .home h2 {
    text-transform: uppercase;
    text-align: left;
    font-size: 22px;
    font-family: "RobotoBold";
    margin: 20px 0 0 0;
}
.review .home .stars {
    display: inline-block;
    line-height: 0;
    position: relative;
    bottom: 2px;
}
.review .home .stars img {
    width: auto;
}
.review .home p {
    display: inline-block;
    font-family: "RobotoBold";
    font-size: 16px;
    color: #ff7920;
    margin: 20px 10px 0 0;
}
.review .home a {
    display: block;
    text-align: center;
    margin: 15px 0 20px 0;
    color: #417505;
    font-weight: bold;
    font-size: 16px;
    font-family: "RobotoBold";
}
.review .recall {
    background-color: #fff;
    padding: 24px 5px 40px 5px;
    margin-bottom: 34px;
}
.review .recall img {
    width: 100%;
}
.review .recall .stars img {
    width: auto;
}
.review .recall .name p {
    font-size: 14px;
    font-family: "RobotoBold";
    margin: 20px 0 0 0;
}
.review .recall .date p {
    display: block;
    text-align: center;
    color: #a1a1a0;
    margin: 20px 0 0 0;
    font-size: 14px;
}
.review .recall .line {
    border-bottom: 2px solid #f3f3f3;
    margin-top: 19px;
}
.review .recall h3 {
    color: #658f34;
    font-size: 16px;
    margin: 20px 0 0 0;
}
.review .recall p {
    color: #4a4a4a;
    font-size: 15px;
    margin: 20px 0;
}
.review .recall p > span {
    color: #4a4a4a;
    font-size: 15px;
}
.review .recall .recall_function {
    margin: 15px 0 0 0;
}
.review .recall .recall_function a {
    display: block;
    text-align: right;
    margin: 5px 0;
}
.review .recall .recall_function a:nth-child(1) {
    color: #417505;
    font-weight: bold;
    font-size: 16px;
}
.review .recall .recall_function a:nth-child(2) {
    color: #4c4c4c;
    font-size: 15px;
}

/* hidden */

#registration {
    width: 600px;
}
#registration h2 {
    text-align: center; 
    margin: 30px 0 45px 0;
    padding: 0;
    font-family: "RobotoBold";
    font-size: 18px;
    text-transform: uppercase;
    color: #417505;
    font-weight: bold;
}
#registration h3 {
    text-align: center; 
    margin: 0 0 40px 0;
    padding: 0 50px;
    font-family: "RobotoRegular";
    font-size: 16px;
}
#registration .social {
    margin: 0;
}
#registration .social img {
    margin-left: 27px;
    margin-bottom: 30px;
}
#registration .check {
    margin: 0;
}
#registration .check input[type="checkbox"] {
    float: left;
    margin: 3px 0 0 0;
    width: auto;
}
#registration .check p {
    padding-left: 20px;
    color: #9b9b9b;
    margin: 0 0 5px;
    line-height: 17px;
}
#registration .check span {
    padding: 0;
    margin: 0;
    color: #9b9b9b;
    padding-left: 20px;
    font-family: "RobotoItalic";
}
#registration .line {
    height: 2px;
    background-color: #f3f3f3;
    margin: 20px 0 40px 0;
}
#registration h4 {
    text-align: center; 
    margin: 0 0 40px 0;
    padding: 0;
    font-family: "RobotoRegular";
    font-size: 16px;
}
#registration input {
    width: 45%;
    margin: 0 auto;
    display: block;
    text-align: center;
    padding: 10px 0;
}
#registration button {
    width: 45%;
    margin: 25px auto;
    display: block;
    padding: 10px 0;
    background-color: #ff7920; 
    color: #fff;
    border: none;
}

#registration a.i_have_an_account {
    display: block;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0 25px 0;
    color: #9b9b9b;
}

#enter {
    width: 600px;
}
#enter h2 {
    text-align: center; 
    margin: 30px 0 45px 0;
    padding: 0;
    font-family: "RobotoBold";
    font-size: 18px;
    text-transform: uppercase;
    color: #417505;
    font-weight: bold;
}
#enter h3 {
    text-align: center; 
    margin: 0 0 40px 0;
    padding: 0 50px;
    font-family: "RobotoRegular";
    font-size: 16px;
}
#enter .social {
    margin: 0;
}
#enter .social img {
    margin-left: 27px;
    margin-bottom: 30px;
}
#enter .check {
    margin: 0;
}
#enter .check input[type="checkbox"] {
    float: left;
    margin: 3px 0 0 0;
    width: auto;
}
#enter .check p {
    padding-left: 20px;
    color: #9b9b9b;
    margin: 0 0 5px;
    line-height: 17px;
}
#enter .check span {
    padding: 0;
    margin: 0;
    color: #9b9b9b;
    padding-left: 20px;
    font-family: "RobotoItalic";
}
#enter .line {
    height: 2px;
    background-color: #f3f3f3;
    margin: 20px 0 40px 0;
}
#enter h4 {
    text-align: center; 
    margin: 0 0 40px 0;
    padding: 0;
    font-family: "RobotoRegular";
    font-size: 16px;
}
#enter input {
    width: 45%;
    margin: 0 auto;
    display: block;
    text-align: center;
    padding: 10px 0;
}
#enter button {
    width: 45%;
    margin: 25px auto;
    display: block;
    padding: 10px 0;
    background-color: #ff7920; 
    color: #fff;
    border: none;
}
#enter a.forgot_password {
    text-align: center;
    display: block;
    font-size: 13px;
    color: #4a4a4a;
}
#enter a.i_have_an_account {
    display: block;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0 25px 0;
    color: #9b9b9b;
}
#forgot_password {
    width: 600px;
}
#forgot_password h2 {
    text-align: center; 
    margin: 30px 0 45px 0;
    padding: 0;
    font-family: "RobotoBold";
    font-size: 18px;
    text-transform: uppercase;
    color: #417505;
    font-weight: bold;
}
#forgot_password h3 {
    text-align: center; 
    margin: 0 0 40px 0;
    padding: 0 50px;
    font-family: "RobotoRegular";
    font-size: 16px;
}
#forgot_password .social {
    margin: 0;
}
#forgot_password .social img {
    margin-left: 27px;
    margin-bottom: 30px;
}
#forgot_password .check {
    margin: 0;
}
#forgot_password .check input[type="checkbox"] {
    float: left;
    margin: 3px 0 0 0;
    width: auto;
}
#forgot_password .check p {
    padding-left: 20px;
    color: #9b9b9b;
    margin: 0 0 5px;
    line-height: 17px;
}
#forgot_password .check span {
    padding: 0;
    margin: 0;
    color: #9b9b9b;
    padding-left: 20px;
    font-family: "RobotoItalic";
}
#forgot_password .line {
    height: 2px;
    background-color: #f3f3f3;
    margin: 20px 0 40px 0;
}
#forgot_password h4 {
    text-align: center; 
    margin: 0 0 40px 0;
    padding: 0;
    font-family: "RobotoRegular";
    font-size: 16px;
}
#forgot_password input {
    width: 45%;
    margin: 0 auto;
    display: block;
    text-align: center;
    padding: 10px 0;
}
#forgot_password button {
    width: 45%;
    margin: 25px auto;
    display: block;
    padding: 10px 0;
    background-color: #ff7920; 
    color: #fff;
    border: none;
}
#forgot_password a.forgot_password {
    text-align: center;
    display: block;
    font-size: 13px;
    color: #4a4a4a;
}
#forgot_password a.i_have_an_account {
    display: block;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0 25px 0;
    color: #9b9b9b;
}
.fancybox-skin {
    border-radius: none !important;
}
/*sms */
th #first-th{
    width: 20% !important;
}


