/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	/* header */
	header .top_header ul li a {
		font-size: 12px;
	}
	header .top_header ul li {
		margin-right: 4px;
	}
	header .top_header ul {
		padding: 16px 15px 14px 15px;
	}
	header .top_header .profile .left a:after {
		left: 39px;
	}
	header .top_header .profile .right a:after {
		left: 41px;
	}
	header .header_nav ul li a {
		padding: 13px 20px 14px 20px;
	}
	header .header_nav ul li:last-child a {
		padding: 13px 35px 14px 22px;
	}
	header .header_nav ul li:last-child a:after {
		right: 20px;
	}
	header .top_header .profile .entrance {
		margin-right: 5px;
	}
	/* index */
	main .top_news .block .right .rating p {
		margin: 20px 10px 20px 20px;
	}
	main .top_news .block .right span {
		top: 0;
	}
	/* profile_my_reviews */
	.personal_area ul li {
		margin-right: 13px;
	}
	.personal_area ul li a {
		font-size: 13px;
	}
	/* profile */
	.profile .box .block h3 {
		margin: 5px 0 25px 45px;
	}
	.profile .box .block p {
		margin-left: 45px;
	}
	/* profile_edit */
	.profile_edit form {
		margin: 0 0 0 45px;
	}
	.profile_edit form input {
		width: 70%;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	/* header */
	header .header_nav ul li a {
		font-size: 13px;
	}
	header .header_nav ul li a {
		padding: 14px 9px 15px 9px;
	}
	header .header_nav ul li:last-child a {
		padding: 14px 21px 15px 11px;
	}
	header .header_nav ul li:last-child a:after {
		right: 7px;
	}
	/* sidebar */
	main .banner img {
		width: auto;
		display: block;
		margin: 0 auto;
	}
	main .banner1 {
		 
	}
	main .banner2, main .banner3 {
		 
	}
	main .sidebar .sidebar_box {
		margin-bottom: 20px;
	}
	/* index */
	main .banner4 img {
		width: 100%;
	}
	main .top_news .block .left img {
		width: 100%;
	}
	main .top_news .block .right .rating p {
		margin: 0;
	}
	main .top_news .block .right .stars {
		margin: 0 0 0 15px;
	}
	/* profile_my_reviews */
	.personal_area ul li {
		margin-right: 16px;
	}
	/* profile_edit */
	.profile_edit form input {
		width: 80%;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	/* header */
	header .top_header .logo {
		padding: 31px 0 0 0;
	}
	header .top_header .logo img {
		display: block;
		margin: 0 auto;
	}
	header .top_header ul {
		text-align: center;
	}
	header .top_header .profile .left a:after {
		left: 90px;
	}
	header .top_header .profile .right a:after {
		left: 60px;
	}
	header .header_nav {
		height: auto;
	}
	/* sidebar */
	main .banner img {
		width: auto;
	}
	main .banner2 img, main .banner3 img {
		width: auto;
	}
	main .banner4 img {
		width: 100%;
	}
	/* footer */
	footer .right ul {
		margin-bottom: 30px;
	}
	/* add_new_topic_review */
	.add_new_topic_review .search .submit {
		width: 25%;
	}
	/* profile_my_reviews */
	.personal_area ul li {
		margin-right: 9px;
	}
	/* profile_subscribes */
	.profile_subscribes .box .block img {
		display: block;
		margin: 0 auto;
	}
	.profile_subscribes .box .block h3 {
		text-align: center;
	}
	.profile_subscribes .box .block h4 {
		text-align: center;
	}
	.profile_subscribes .box .block a {
		text-align: center;
	}
	/* profile */
	.profile .box .block img {
		display: block;
		margin: 0 auto;
	}
	.profile .box .block h3 {
		text-align: center;
		margin: 5px 0 25px 0;
	}
	.profile .box .block p {
		text-align: center;
		padding: 0 !important;
		margin: 0 0 20px 0;
	}
	.profile .box .block h4 {
		text-align: center;
	}
	.profile .box .block ul li {
		display: block;
	}
	/* listing */
	.listing .sorting ul li {
		margin-left: 25px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	/* header */
	header .top_header .logo {
		padding: 15px 0 0 0;
	}
	header .top_header .header_search h2 {
		display: none;
	}
	header .top_header .header_search p {
		text-align: center;
	}
	header .top_header .profile .left a:after {
		left: 65px;
	}
	header .top_header .profile .right a:after {
		left: 38px;
	}
	header .header_nav ul li a {
		padding: 14px 7px 15px 7px;
	}
	header .top_header .header_search .search .submit {
		width: 20%;
	}
	/* sidebar */
	main .banner2 img, main .banner3 img {
		width: 100%;
	}
	
	footer .right ul li a.last:after {
		right: 114px;
	}
	/* get_in_touch */
	.get_in_touch button {
		width: 100%;
	}
	/* add_new_topic_review */
	.add_new_topic_review .search input {
		width: 100%;
	}
	.add_new_topic_review .search .submit {
		width: 100%;
		position: relative;
		height: 50px;
	}
	/* hidden */ 
	#registration {
		width: 300px;
	}
	#registration h2 {
		margin: 30px 0 30px 0;
	}
	#registration h3 {
		margin: 0 0 30px 0;
		padding: 0 0;
	}
	#registration .social img {
		margin-left: 12px;
	}
	#registration .line {
		margin: 20px 0 25px 0;
	}
	#registration input {
		width: 100%;
	}
	#registration button {
		width: 100%;
	}
	
	#enter {
		width: 300px;
	}
	#enter h2 {
		margin: 30px 0 30px 0;
	}
	#enter h3 {
		margin: 0 0 30px 0;
		padding: 0 0;
	}
	#enter .social img {
		margin-left: 12px;
	}
	#enter .line {
		margin: 20px 0 25px 0;
	}
	#enter input {
		width: 100%;
	}
	#enter button {
		width: 100%;
	}
	
	#forgot_password {
		width: 300px;
	}
	#forgot_password h2 {
		margin: 30px 0 30px 0;
	}
	#forgot_password h3 {
		margin: 0 0 30px 0;
		padding: 0 0;
	}
	#forgot_password .social img {
		margin-left: 12px;
	}
	#forgot_password .line {
		margin: 20px 0 25px 0;
	}
	#forgot_password input {
		width: 100%;
	}
	#forgot_password button {
		width: 100%;
	}
	/* earn */
	.earn ul li a {
		padding: 0 7px;
	}
	/* profile_draft */
	.profile_draft .block span {
		margin-left: 5px;
	}
	/* listing */
	.listing .sorting ul li {
		margin: 0 0 0 6px;
	}
	.pagination ul li {
		margin: 0;
	}
	.listing .sorting ul {
		margin: 0;
	}
	/* profile_edit */
	.profile .box .block a.amend {
		text-align: center;
	}
	.profile_edit form input {
		width: 100%;
	}
	.profile_edit form {
		margin: 0; 
	}
	/* profile_message */
	.profile_message textarea {
		width: 60%;
	}
	.profile_message input {
		width: 40%;
	}
	/* profile_messages_list */
	.profile_messages_list .table {
		width: 767px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	/* header */
	header .top_header .header_search p {
		font-size: 12px;
	}
	header .top_header .profile .left a:after {
		left: 49px;
	}
	header .top_header .profile .right a:after {
		left: 26px;
	}
	header .header_nav ul li {
		display: block;
		text-align: center;
		font-size: 14px;
	}
	header .header_nav ul li a {
		padding: 10px 0;
	}
	header .header_nav ul li:last-child a {
		padding: 10px 0;
	}
	header .header_nav ul li:last-child a:after {
		right: -19px;
		top: 17px;
	}
	/* index */
	main .top_news ul li {
		margin-left: 5px;
	}
	/* hidden */ 
	#registration {
		width: 250px;
	}
	#registration .social img {
		margin-left: 2px;
	}
	
	#enter {
		width: 250px;
	}
	#enter .social img {
		margin-left: 2px;
	}
	
	#forgot_password {
		width: 250px;
	}
	#forgot_password .social img {
		margin-left: 2px;
	}
	/* earn */
	.earn ul li a {
		padding: 0 4px;
	}
	/* profile_draft */
	.profile_draft .block img {
		margin-bottom: 10px;
	}
	/* listing */
	.listing .sorting ul li {
		margin: 0 0 0 6px;
	}
	.pagination ul li a {
		padding: 0 6px;
	}
	/* profile_message */
	.profile_message textarea {
		width: 100%;
	}
	.profile_message input {
		width: 100%;
	}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}