.avatar{
    width: 100px;
    border-radius: 50%;
    height: 100px;
}

.profile_draft{
    margin-top: 12px !important;
}

#btnUpdatePassword{
    display:none;
}

.input-review{
    width: 100%;
    height: 46px;
    margin-bottom: 10px;
    padding-left: 20px;
}
/* Dropzone */
#dropzone .dz-preview .dz-image {
    border-radius: 20px;
    overflow: hidden;
    width: 120px;
    height: 120px;
    position: relative;
    display: block;
    z-index: 10;
}

#dropzone .dz-preview.dz-file-preview .dz-image { border-radius: 20px; background: #999; background: linear-gradient(to bottom, #eee, #ddd); }

#dropzone.dz-clickable { cursor: pointer; }
#dropzone.dz-clickable * { cursor: default; }
#dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message * { cursor: pointer; }
#dropzone.dz-started .dz-message { display: none; }
#dropzone.dz-drag-hover { border-style: solid; }
#dropzone.dz-drag-hover .dz-message { opacity: 0.5; }
#dropzone .dz-message{margin-top: 95px; text-align: center; }
#dropzone .dz-message p { text-align: center; margin: 10px 0; color: #9B9B9B !important;font-size: 17px !important; font-weight: 700;}
#dropzone .dz-preview { position: relative; display: inline-block; vertical-align: top; margin: 16px; min-height: 100px; }
#dropzone .dz-preview:hover { z-index: 1000; }
#dropzone .dz-preview:hover .dz-details { opacity: 1; }
#dropzone .dz-preview.dz-file-preview .dz-image { border-radius: 20px; background: #999; background: linear-gradient(to bottom, #eee, #ddd); }
#dropzone .dz-preview.dz-file-preview .dz-details { opacity: 1; }
#dropzone .dz-preview.dz-image-preview { background: #F6F9FD; }
#dropzone .dz-preview.dz-image-preview .dz-details { -webkit-transition: opacity 0.2s linear; -moz-transition: opacity 0.2s linear; -ms-transition: opacity 0.2s linear; -o-transition: opacity 0.2s linear; transition: opacity 0.2s linear; }
#dropzone .dz-preview .dz-remove { font-size: 14px; text-align: center; display: block; cursor: pointer; border: none; }
#dropzone .dz-preview .dz-remove:hover { text-decoration: underline; }
#dropzone .dz-preview:hover .dz-details { opacity: 1; }
#dropzone .dz-preview .dz-details { z-index: 20; position: absolute; top: 0; left: 0; opacity: 0; font-size: 13px; min-width: 100%; max-width: 100%; padding: 2em 1em; text-align: center; color: rgba(0, 0, 0, 0.9); line-height: 150%;}
#dropzone .dz-preview .dz-details .dz-size { margin-bottom: 1em; font-size: 16px; }
#dropzone .dz-preview .dz-details .dz-filename { white-space: nowrap; }
#dropzone .dz-preview .dz-details .dz-filename:hover span { border: 1px solid rgba(200, 200, 200, 0.8); background-color: rgba(255, 255, 255, 0.8); }
#dropzone .dz-preview .dz-details .dz-filename:not(:hover) { overflow: hidden; text-overflow: ellipsis; }
#dropzone .dz-preview .dz-details .dz-filename:not(:hover) span { border: 1px solid transparent; }
#dropzone .dz-preview .dz-details .dz-filename span, .dropzone .dz-preview .dz-details .dz-size span { background-color: rgba(255, 255, 255, 0.4); padding: 0 0.4em; border-radius: 3px; }
#dropzone .dz-preview:hover .dz-image img { -webkit-transform: scale(1.05, 1.05); -moz-transform: scale(1.05, 1.05); -ms-transform: scale(1.05, 1.05); -o-transform: scale(1.05, 1.05); transform: scale(1.05, 1.05); -webkit-filter: blur(8px); filter: blur(8px); }
#dropzone .dz-preview .dz-image { border-radius: 20px; overflow: hidden; width: 120px; height: 120px; position: relative; display: block; z-index: 10; }
#dropzone .dz-preview .dz-image img { display: block; }
#dropzone .dz-preview .dz-success .dz-success-mark { -webkit-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1); -moz-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1); -ms-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1); -o-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1); animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1); }
#dropzone .dz-preview .dz-error-mark { opacity: 1; -webkit-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1); -moz-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1); -ms-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1); -o-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1); animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1); }
#dropzone .dz-preview .dz-success-mark, #dropzone .dz-preview .dz-error-mark { pointer-events: none; opacity: 0; z-index: 500; position: absolute; display: block; top: 50%; left: 50%; margin-left: -27px; margin-top: -27px; }
#dropzone .dz-preview .dz-success-mark svg, #dropzone .dz-preview .dz-error-mark svg { display: block; width: 54px; height: 54px; }
#dropzone .dz-preview.dz-processing .dz-progress { opacity: 1; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -ms-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
#dropzone .dz-preview.dz-complete .dz-progress { opacity: 0; -webkit-transition: opacity 0.4s ease-in; -moz-transition: opacity 0.4s ease-in; -ms-transition: opacity 0.4s ease-in; -o-transition: opacity 0.4s ease-in; transition: opacity 0.4s ease-in; }
#dropzone .dz-preview:not(.dz-processing) .dz-progress { -webkit-animation: pulse 6s ease infinite; -moz-animation: pulse 6s ease infinite; -ms-animation: pulse 6s ease infinite; -o-animation: pulse 6s ease infinite; animation: pulse 6s ease infinite; }
#dropzone .dz-preview .dz-progress { opacity: 1; z-index: 1000; pointer-events: none; position: absolute; height: 16px; left: 50%; top: 50%; margin-top: -8px; width: 80px; margin-left: -40px; background: rgba(255, 255, 255, 0.9); -webkit-transform: scale(1); border-radius: 8px; overflow: hidden; }
#dropzone .dz-preview .dz-progress .dz-upload { background: #333; background: linear-gradient(to bottom, #666, #444); position: absolute; top: 0; left: 0; bottom: 0; width: 0; -webkit-transition: width 300ms ease-in-out; -moz-transition: width 300ms ease-in-out; -ms-transition: width 300ms ease-in-out; -o-transition: width 300ms ease-in-out; transition: width 300ms ease-in-out; }
#dropzone .dz-preview.dz-error .dz-error-message { display: block; }
#dropzone .dz-preview.dz-error:hover .dz-error-message { opacity: 1; pointer-events: auto; }
#dropzone .dz-preview .dz-error-message { pointer-events: none; z-index: 1000; position: absolute; display: block; display: none; opacity: 0; -webkit-transition: opacity 0.3s ease; -moz-transition: opacity 0.3s ease; -ms-transition: opacity 0.3s ease; -o-transition: opacity 0.3s ease; transition: opacity 0.3s ease; border-radius: 8px; font-size: 13px; top: 130px; left: -10px; width: 140px; background: #be2626; background: linear-gradient(to bottom, #be2626, #a92222); padding: 0.5em 1.2em; color: white; }
#dropzone .dz-preview .dz-error-message:after { content: ''; position: absolute; top: -6px; left: 64px; width: 0; height: 0; border-left: 6px solid transparent; border-right: 6px solid transparent; border-bottom: 6px solid #be2626; }

#topic-review label, #new-topic-review label, #edit-review label{
    margin-bottom: 11px;
    font-size: 15px;
    font-family: "RobotoRegular";
    color: #417505;
    font-weight: bold;
}

#review-group{
    margin-top: 15px;
}

.trumbowyg-editor{
    height: 50px !important;
}

.review-rate{
    margin-top: 23px;
}

.review-rate .col-md-6{
    padding-left: 0 !important;
}
.recommend input[name="recommend"]{
    display: none !important;
}

.recommend span{
    display: inline-block;
    height: 45px;
    width: 70px;
    padding: 10px;
    color: #B9B9B9;
    font-weight: bold;
    border: 1px solid #B9B9B9;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.recommend span:first-child{
    margin-right: 20px;
}

.review-foto {
    margin-top: 125px;
}

.add-rating{
    padding-top: 7px;
}

.add-rating img{
    cursor: pointer;
    margin-right: 5px !important;
}

.add-rating input[type="radio"]{
    display: none;
}

.review-video{
    margin-bottom: 30px;
}

.but-preview{
    text-align: right;
    padding-right: 10px;
}

.but-publish{
    padding-left: 10px;
    margin-bottom: 25px;
}

.but-preview button{
    color: #FFFFFF;
    text-transform: uppercase;
    border-radius: 0;
    border: none;
    width: 230px;
    height: 45px;
    background-color: #B9B9B9;
}

.but-publish button{
    color: #FFFFFF;
    text-transform: uppercase;
    border-radius: 0;
    border: none;
    width: 230px;
    height: 45px;
    background-color: #417505;
    font-weight: bold;
}

.review-foto{
    height: auto;
    margin-bottom: 30px;
}
.dropzone p{
    height: 20px;
}

.dropzone p:first-child{
    margin-top: -70px;
}
.dropzone {
    width: 100%;
    height: 200px;
    outline: 3px dashed #5295E3;
    color: #aaa;
    line-height: 280px;
    text-align: center;
    background: #F6F9FD;
    padding-top: 10px;
}

.dropzone.dragover {
    background-color: yellow;
}

.topic-review-title{
    margin-top: 50px !important;
}

.topic-foto{
    margin-top: 21px;
}
.topic-foto .col-md-4:first-child{
    padding-left: 0;
    padding-top: 20px;
}

input[name="topic_foto"]{
    display: none;
}

.add-topic-foto{
    border: none;
    width: 250px;
    height: 50px;
    background-color: #FF7920;
    color: #FFFFFF;
    font-weight: bold;
    margin-top: 3px;
}

.line-review{
    height: 100px;
    border-bottom: 1px solid #B9B9B9;
    width: 100%;
}

.trumbowyg-box{
    margin-top: 2px !important;
}

.topic-text{
    margin-top: 16px;
}

.top_news{
    margin-bottom: 0 !important;
}

/* CSS for Drag 'n' Drop */
.box__uploading,
.box__success,
.box__error {
    display: none;
}

.box__input.has-advanced-upload {
    background-color: white;
    outline: 2px dashed black;
    outline-offset: -10px;
}
.box__input.has-advanced-upload .box__dragndrop {
    display: inline;
}

.box.is-dragover {
    background-color: #F6F9FD !important;
}

.box-drop{
    position: relative;
    background-color: #F6F9FD;
}



.box__file{
    top: 0;
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
}



.box.has-advanced-upload .box__icon {
    width: 80px;
    height: 80px;
    fill: #92b0b3;
    display: block;
    margin-bottom: 40px;
    margin-left: 269px;
    /*margin-right: 0;*/
}
.box-drop.has-advanced-upload {
    outline: 2px dashed #4A90E2;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    height: 250px;
    width: 100%;
}

.box_drag {
    width: 646px;
    height: 350px;
    font-size: 1.25rem;
    background-color: #F6F9FD;
    position: relative;
    padding: 100px 20px;
    z-index: 200;
    overflow: hidden;
}


.box-drop label{
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    margin-top: -50px;
    text-align: center;
    font-size: 22px;
    color: #0f3c4b;
    padding-top: 30px;
}

.box-drop strong {
    font-weight: bold;
    text-transform: none;
}

.box-drop label strong:hover{
    cursor: pointer;
    color: #39bfd3;
}

.box__dragndrop{
    text-transform: none;
}

label[for="file"] p{
    margin-top: 5px;
    margin-bottom: 5px;
    color: #9B9B9B;
    font-size: 17px;
}

label[for="file"]{
    padding-top: 95px;
    color: #9B9B9B !important;
    font-size: 17px !important;
}

label[for="file"]+button{
    margin-left: 34%;
    font-size: 15px !important;
}

/*.has-advanced-upload{
        padding-top:20px;
} */
.img-container{
    width: auto;
    height: auto;
    position: relative;
    display: inline-block;
}

.load-img + span{
    display: inline-block;
    width: 70px;
    height: 26px;
    background-color: #FF7920;
    padding: 2px 7px;
    color: #FFFFFF;
    border-radius: 5px;
    position: absolute;
    top: 40px;
    right: 60px;
    display: none;
    cursor: pointer;
}

.block-much{
    margin-top: 40px;
}

.block-much .active{
    background-color: #FF7920 !important;
    color: #FFFFFF !important;
    font-weight: normal !important
        ;
}

.block-much .col-md-2{
    width: 18%;
    margin: 0 8px;
    border: none;
    height: 40px;
    background-color: #E6E6E6;
    color: #868686;
    font-weight: bold;
    outline: none;
}

.comments{
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 20px;

}
.comments .top_news .comment{
    margin-bottom: 0;
    box-shadow: none !important;
}
.comments .top_news{
    box-shadow: none !important;
    margin-top: 0;
    border-bottom:2px solid #F4F4F2;
}

.comments .top_news:last-child{
    box-shadow: none !important;
    margin-bottom: 0;
    border-bottom:none;
}

.comments-title{
    padding-left: 0 !important;
}

.comments-title h3{
    font-weight: bold;
    margin: -1px 0 28px 0 !important;
}

.comments-title h3 span{
    font-weight: normal;
}

.comment{
    height: 154px;
}

.comment .name-date{
    padding-top: 10px;
    padding-left: 0;
}

.comment .name-date .col-md-9 h5{
    color: #FF8533;
    font-weight: bold;
}

.comment .col-md-3{
    text-align: right;
    padding-right: 0;
}

.comment .col-md-3 h5{
    font-weight: bold;
    /*color: #ADADAC;*/
    color: #6b6b67;
}

.comment .topic_profile{
    padding-top: 20px;
}

.comment-text{
    padding-top: 10px;
    /*color: #91918F;*/
    color: #6b6b67;
    font-weight: 400;
    height: 67px;
}

.comment-mark{
    padding-top: 10px;
    /*color: #ADADAC;*/
    color: #6b6b67;
    font-weight: bold;
    font-size: 11px;
    text-align: right;
    padding-right: 0;
}


.comment-mark span{
    cursor: pointer;
}
.add-comment{
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 40px;
}

.add-comment textarea{
    width: 100%
}

.add-comment .col-md-10{
    padding-right: 0;
}
.add-comment .col-md-2{
    padding-right: 6px;
    padding-top: 10px;
}

.add-comment .col-md-2 button{
    width: 100%;
    margin: 0 8px;
    border: none;
    height: 40px;
    background-color: #E6E6E6;
    color: #868686;
    font-weight: bold;
    outline: none;
}

.ui-widget-content{
    height: auto !important;
}

.review-titles{
    font-weight: bold;
    color: #4A4A4A;
}

.top-menu ul li a:hover{
    text-decoration: none !important;
}

menu-left-bar ul li a:hover{
    text-decoration: none !important;
}

.error-subj{
    height: 19px;
    display: inline-block;

}

.error-text{
    height: 19px;
    display: inline-block;
}

.errors-add{
    color: red;
    font-size: 12px;
    height: 16px;
}

main .sidebar .sidebar_box ul li:hover a{
    text-decoration: none !important;
}

header .top_header .profile a:hover{
    text-decoration: none !important;
}

footer .right ul li a:hover{
    text-decoration: none !important;
}

main .top_news ul li a:hover{
    text-decoration: none !important;
}

.sub-menu{
    display: none;
    outline: 1px solid #DB681C;
    height: auto;
    width: 97.3%;
    z-index: 10000;
    background-color: #FFFFFF;
    margin-top: 1px;
    position: relative;
    top:0;
    left:16px;
    padding: 10px 0 20px 15px;
    position: relative;
    top: -2px;
}

.sub-menu a:after{
    right: -10000px !important;
}

.sub-menu ul li{
    display: table-cell !important;
    height: auto !important;
    padding-right: 35px !important;
    width: auto !important;
}

.sub-menu ul li a{
    text-transform: none !important;
    padding: 10px 10px 5px 0  !important;
    position: static !important;
    font-size: 14px !important;
    transition: none !important;

}

.sub-menu ul li a:hover{
    text-decoration: none !important;
    background-color: #FFFFFF !important;
    color: #DB681C !important;
}

.sub-menu ul li ul li{
    display: block !important;
    height: auto !important;
    position: static !important;
}

.sub-menu ul li ul{
    height: auto !important;
}

.sub-menu ul  li ul{
    margin-left: 0 !important;

}

.sub-menu ul  li ul li{
    font-weight: 100 !important;

}

.sub-menu ul li ul li a{
    padding: 0 10px 0 0 !important;
    font-family: RobotoRegular !important;
    transition: 0 !important;
    font-size: 13px !important;
    position: static !important;
}

.menu-left-bar{
    position: relative;
}

.sub-left-menu{
    position: absolute !important;
    top: 290px !important;
    left: 278px !important;
    background-color: #FFFFFF;
    z-index: 1000;
    width: 500px;
    padding-left:20px;
}

.sub-left-menu ul li{
    /*display: table-cell !important;*/
    height: auto !important;
    padding-right: 35px !important;
    width: 100% !important;
    padding-left: 0 !important;
    color: #000000;
}

.sub-left-menu ul li:hover{
    padding-left: 0 !important;
    color: #000000 !important;
    cursor: default !important;
}

.sub-left-menu ul li a{
    text-transform: none !important;
    padding: 10px 10px 5px 0  !important;
    position: static !important;
    font-size: 14px !important;
    transition: none !important;
    font-weight: bold !important;
    color: black;
}

.sub-left-menu ul li a:hover{
    text-decoration: none !important;
    background-color: #FFFFFF !important;
    color: #DB681C !important;
}

.sub-left-menu ul li ul li{
    display: block !important;
    height: auto !important;
    position: static !important;
}

.sub-left-menu ul li ul{
    height: auto !important;
    padding-top: 10px !important;
}

.sub-left-menu ul  li ul{
    margin-left: 0 !important;

}

.sub-left-menu ul  li ul li{
    font-weight: 100 !important;
    padding: 0 !important;

}

.sub-left-menu ul li ul li a{
    padding: 0 !important;
    font-family: RobotoRegular !important;
    transition: 0 !important;
    font-size: 13px !important;
    position: static !important;
    font-weight: 100 !important;
}

#draft-review-fotos{
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

#draft-review-fotos img{
    margin: 0 10px 0 0;
    border-radius: 5px;
}
.img-container{
    position: relative;
    margin-top: 10px;

}
#draft-review-fotos .del-img-review{
    display: inline-block;
    height: 22px;
    width: 67px;
    background-color: #ff7d26;
    color: white;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 40px;
    left: 40px;
    display: none;
}

#edit-review .review-video{
    margin-top: 40px;

}

.del-bookmark-lk{
    cursor: pointer;
}


.ui-autocomplete{
    max-height: 270px;
    overflow-y: auto;
    /* отменим горизонтальный скролл */
    overflow-x: hidden;
    /* добавим padding для учета вертикального скролла */
    padding-right: 20px;
}
/* В IE 6 не определено свойство max-height
*  поэтому для него лучше установим постоянную высоту.
*/
* html .ui-autocomplete{
    height: 100px;
}
.image-recall-profile{
    width: 100px;
    height: 100px;
}    
.avatar-comments{
    border-radius: 50%;
    height: 100px;
    width: 100px!important;
}
#send_output_money
{
    width: 100%;
    margin: 0 8px;
    border: none;
    height: 40px;
    background-color: #E6E6E6;
    color: #868686;
    font-weight: bold;
    outline: none;
}

.block{
    background: #FFF;
    margin-bottom: 10px;
}

.send-message{
    background-color:#ff7920 !important;
    color: #FFF !important;
}

.message-text{
    margin-bottom: 10px;
}

.profile-avatar{
    z-index: 1000;
    cursor:pointer;
    height: 190px;

}

.profile-avatar img{

}

.profile-avatar .fa-upload{
    display:none;
    color:#ff7920;
    font-size:40px;
    position:absolute;
    top:71px;
    left:90px;
    z-index: 500;
}

.topic .home{
    background-color: #FFF;
    padding:0;
}

.topic .home h2{
    color: #417505;
    font-weight: bold;
    font-size: 16px;
    font-family: "RobotoBold";
    margin: 15px 0 22px 0;
}

.topic .home h2 a{
    margin: 15px 0 20px 0;
}

.topic-rating{
    padding:0 !important;   
}

.topic-rating p{
    display: inline-block;
    font-family: "RobotoBold";
    font-size: 16px;
    color: #ff7920;
    margin: 15px 0 0 0;
    text-align: right;
}

.topic-rating stars{
    display: inline-block !important;
    line-height: 0;
    padding:0 !important;
    width: 40%;
}

.add-review-button a{
    display: block;
    text-align: center;
    margin: 8px 0 10px 0;
    color: #417505;
    font-weight: bold;
    font-size: 16px;
    font-family: "RobotoBold";
}

.listing{
    padding-left: 14px;
    width: 100%;
    margin-right: 0;
    margin-top: 0px;
}
.content-type-4 .listing{
    width: auto !important;
}
.profile-page-avatar-wrapper img{
    border-radius: 50%;
}
.review .description-subject{
    background: white;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .listing{
        width: 89%;
        float: right; 
    }
}
