/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    #gamb-visible{display:none;}
    #gamb-hidden{display:block;}
    /* header */
    header .top_header ul li a {
        font-size: 12px;
    }
    header .top_header ul li {
        margin-right: 4px;
    }
    header .top_header ul {
        padding: 16px 15px 14px 15px;
    }
    header .top_header .profile .left a:after {
        left: 39px;
    }
    header .top_header .profile .right a:after {
        left: 41px;
    }
    header .header_nav ul li a {
        padding: 13px 20px 14px 20px;
    }
    header .header_nav ul li:last-child a {
        padding: 13px 35px 14px 22px;
    }
    header .header_nav ul li:last-child a:after {
        right: 20px;
    }
    header .top_header .profile .entrance {
        margin-right: 5px;
    }
    /* index */
    main .top_news .block .right .rating p {
        margin: 20px 10px 20px 20px;
    }
    main .top_news .block .right span {
        top: 0;
    }
    /* profile_my_reviews */
    .personal_area ul li {
        margin-right: 13px;
    }
    .personal_area ul li a {
        font-size: 13px;
    }
    /* profile */
    .profile .box .block h3 {
        margin: 5px 0 25px 45px;
    }
    .profile .box .block p {
        margin-left: 45px;
    }
    /* profile_edit */
    .profile_edit form {
        margin: 0 0 0 45px;
    }
    .profile_edit form input {
        width: 70%;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    #gamb-visible{display:none;}
    #gamb-hidden{display:block;}
    /* header */
    header .header_nav ul li a {
        font-size: 13px;
    }
    header .header_nav ul li a {
        padding: 14px 9px 15px 9px;
    }
    header .header_nav ul li:last-child a {
        padding: 14px 21px 15px 11px;
    }
    header .header_nav ul li:last-child a:after {
        right: 7px;
    }
    /* sidebar */
    main .banner img {
        width: 100%;
        /*width: auto;*/
        display: block;
        margin: 0 auto;
    }
    main .banner1 {

    }
    main .banner2, main .banner3 {

    }
    main .sidebar .sidebar_box {
        margin-bottom: 20px;
    }
    /* index */
    main .banner4 img {
        width: 100%;
    }
    main .top_news .block .left img {
        width: 100%;
    }
    main .top_news .block .right .rating p {
        margin: 0;
    }
    main .top_news .block .right .stars {
        margin: 0 0 0 15px;
    }
    /* profile_my_reviews */
    .personal_area ul li {
        margin-right: 16px;
    }
    /* profile_edit */
    .profile_edit form input {
        width: 80%;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .listing{
        padding-left: 0px;
        width: 100%;
    }
    .tem-test-descr{
        float: right;
    }
    .col-md-6.col-sm-6 .home img{
        width: 100%;
    }
    .div-with-baner6 > a > img {
        display: none;
    }
    .banner.banner5>a>img{
        width: 100%;
    }
    img.full-img-l{
        position: relative;
        top: -12px;
    }
    .col-md-5.recall_function{
        position: relative;
        top: 14px;
    }
    /*humburger*/
    #gamb-visible{display:none;}
    #gamb-hidden{display:block;}
    /* header */
    header .top_header .logo {
        padding: 31px 0 0 0;
    }
    header .top_header .logo img {
        display: block;
        margin: 0 auto;
    }
    header .top_header ul {
        text-align: center;
    }
    header .top_header .profile .left a:after {
        left: 90px;
    }
    header .top_header .profile .right a:after {
        left: 60px;
    }
    header .header_nav {
        height: auto;
    }

    /* sidebar */
    main .banner img {
        /*  width: auto;*/
        width: 100%;
    }
    main .banner2 img, main .banner3 img {
        width: auto;
    }
    main .banner4 img {
        width: 100%;
    }
    /* footer */
    footer .right ul {
        margin-bottom: 30px;
    }
    /* add_new_topic_review */
    .add_new_topic_review .search .submit {
        width: 25%;
    }
    /* profile_my_reviews */
    .personal_area ul li {
        margin-right: 9px;
    }
    /* profile_subscribes */
    .profile_subscribes .box .block img {
        display: block;
        margin: 0 auto;
    }
    .profile_subscribes .box .block h3 {
        text-align: center;
    }
    .profile_subscribes .box .block h4 {
        text-align: center;
    }
    .profile_subscribes .box .block a {
        text-align: center;
    }
    /* profile */
    .profile .box .block img {
        display: block;
        margin: 0 auto;
    }
    .profile .box .block h3 {
        text-align: center;
        margin: 5px 0 25px 0;
    }
    .profile .box .block p {
        text-align: center;
        padding: 0 !important;
        margin: 0 0 20px 0;
    }
    .profile .box .block h4 {
        text-align: center;
    }
    .profile .box .block ul li {
        display: block;
    }
    /* listing */
    .listing .sorting ul li {
        margin-left: 25px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .col-md-12.div-resize-tes{
        position: relative;
        top: -20px; 
    }
    .listing{
        width: 100%;
        padding-left: 0px;
    }
    .comments .top_news{
        min-height: 177px;
    }
    .col-md-12.col-sm-12.col-xs-12.comment-text{
        position: relative;
        top: 10px;
        text-align: left;
    }
    img.no-fotoid{
        position: relative;
        top: -10px;
    }
    #data-register .social-ico-enter{
        width: initial;
    }
    /* social modal mob */
    .social-ico-enter{
        max-height: 18px;
    }
    div.header_nav div.sub-menu{
        display: none;
    }
    span#exitspan:first-child{
        content: "x";
        color: #ff7920;
        float: right;
        top: -5px;
        position: relative;
        /* z-index: 00; */
        width: 30px;
        height: 30px;
        font-size: 30px;
    }
    #gamb-hidden > li:nth-child(2) > a{
        position: relative;
        left: 12px;
    }
    /*humburger*/
    #gamb-visible{
        display:block;
        width: 90px;
        text-align: center;
        margin-left: 40%;
        margin-right: 40%;
    }
    #gamb-hidden{
        display:none;
    }
    #catalog-hamb:after{
        content: "\2261";
        border-top: none;
        top:  -10px;
        position: absolute;
        color: #ff7920;
        font-size: 40px;
        font-weight: bolder;
    }
    header .header_nav ul li {
        height: 100%;
        display: block !important;
        left:0px;
        text-align: center;
    }
    /* header */
    header .top_header .logo {
        padding: 15px 0 0 0;
    }
    span#exitspan{
        display: block;
    }
    header .top_header .header_search h2 {
        display: none;
    }
    header .top_header .header_search p {
        text-align: center;
    }
    header .top_header .profile .left a:after {
        left: 65px;
    }
    header .top_header .profile .right a:after {
        left: 38px;
    }
    header .header_nav ul li a {
        padding: 14px 7px 15px 7px;
    }
    header .top_header .header_search .search .submit {
        width: 20%;
    }
    /* sidebar */
    main .banner2 img, main .banner3 img {
        width: 100%;
    }

    footer .right ul li a.last:after {
        right: 114px;
    }
    /* get_in_touch */
    .get_in_touch button {
        width: 100%;
    }
    /* add_new_topic_review */
    .add_new_topic_review .search input {
        width: 100%;
    }
    .add_new_topic_review .search .submit {
        width: 100%;
        position: relative;
        height: 50px;
    }
    /* hidden */
    #registration {
        width: 300px;
    }
    #registration h2 {
        margin: 30px 0 30px 0;
    }
    #registration h3 {
        margin: 0 0 30px 0;
        padding: 0 0;
    }
    #registration .social img {
        margin-left: 12px;
    }
    #registration .line {
        margin: 20px 0 25px 0;
    }
    #registration input {
        width: 100%;
    }
    #registration button {
        width: 100%;
    }

    #enter {
        width: 300px;
    }
    #enter h2 {
        margin: 30px 0 30px 0;
    }
    #enter h3 {
        margin: 0 0 30px 0;
        padding: 0 0;
    }
    #enter .social img {
        margin-left: 12px;
    }
    #enter .line {
        margin: 20px 0 25px 0;
    }
    #enter input {
        width: 100%;
    }
    #enter button {
        width: 100%;
    }

    #forgot_password {
        width: 300px;
    }
    #forgot_password h2 {
        margin: 30px 0 30px 0;
    }
    #forgot_password h3 {
        margin: 0 0 30px 0;
        padding: 0 0;
    }
    #forgot_password .social img {
        margin-left: 12px;
    }
    #forgot_password .line {
        margin: 20px 0 25px 0;
    }
    #forgot_password input {
        width: 100%;
    }
    #forgot_password button {
        width: 100%;
    }
    /* earn */
    .earn ul li a {
        padding: 0 7px;
    }
    /* profile_draft */
    .profile_draft .block span {
        margin-left: 5px;
    }
    /* listing */
    .listing .sorting ul li {
        margin: 0 0 0 6px;
    }
    .pagination ul li {
        margin: 0;
    }
    .listing .sorting ul {
        margin: 0;
    }
    /* profile_edit */
    .profile .box .block a.amend {
        text-align: center;
    }
    .profile_edit form input {
        width: 100%;
    }
    .profile_edit form {
        margin: 0;
    }
    /* profile_message */
    .profile_message textarea {
        width: 60%;
    }
    .profile_message input {
        width: 40%;
    }
    /* profile_messages_list */
    .profile_messages_list .table {
        width: 767px;
    }
    /* menu-left-bar*/
    #menu-left-bar{display:none;}
    /* catalog*/
    .content-136 .col-md-3.sidebar{display:none;}
    /*top_header ul li a */
    header .top_header ul li a{
        color: #ff7920;
        padding-left: 5px;
        padding-right: 5px;
        text-decoration: underline;
    }
    .z-index-for-mob{z-index:1000;}
    .container img{width:100%;}
    /*photo-small */
    main .top_news .block .right img{
        width: 100%;
    }
    .review .recall img {
        width: auto;
    }
    div.col-md-7 > img{width:100% !important;
    }
    main .banner img{width: 100%;}
    /*review */
    .review .recall{
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 10px;
    }
    /*logo */
    header .top_header .logo img{
        width: 50%;
    }
    /*stars */
    .stars.col-md-8 img{
        width: auto;
    }
    .stars img{
        width: auto;
    }
    .row.listing.recall .block.clearfix{
        text-align: center;
        margin-top: 10px;
        min-height: 400px;
    }
    .topic_profile img.avatar{
        width: 100px;
        height: 100%;
    }
    .block.clearfix .col-md-10 p img{
        width: auto;
    }
    .row.listing.recall .block.clearfix .stars.stars-list-recall {
        margin-right: 70px;
    }
    div.table td img{
        width: auto;
    }
    .col-md-8.right .row .col-md-9 img, div.col-md-10 > a > img, .top_news .row.block .col-md-8.right .col-md-12 img {
        width: auto;
    }
    .table-baner-class .table, .table-baner-class tbody, .table-baner-class tbody tr, .table-baner-class tbody tr td{
        display: block;
    }
    /*  .listing{
          padding-right: 14px;
      }*/
    .div-with-baner6{
        padding: 0px;
    }
    .content-type-3 .recall .col-md-2 a img{
        width: 100%;
    }
    .orange-btn{
        background-color: rgb(255, 121, 32);
    }
    .orange-btn a{color: white;}
    .avatar-comments {
        border-radius: 50%;
        height: 50px;
        width: 50px!important;
    }
    .comment .topic_profile {
        padding-top: 2px;
    }
    .name-date .comment .col-md-3 {
        text-align: right;
        padding-right: 0;
        position: relative;
        top: -90px;
    }
    div.top_news div.col-md-8.right  div  a  img{
        width: auto;
    }
    div.col-md-9 div.top_news  div.top_news .right div img, .right div img{
        width: auto;
    }
    content-type-3 .MsoNormalTable span{

    }
    /* video adaptive */
    iframe {
        width: 100%;
    }
    .add-rating img{
        width: auto;
    }
    .form-group.review-group.review-buttons .but-publish{
        padding-left: 15px;
        margin-bottom: 25px;
    }
    #new-topic-review > div.form-group.review-group.topic-foto > div:nth-child(2){
        padding: 0px !important;
    }
    .review-foto {
        margin-top: 5px;
    }
    .content-type-3 sub-menu{
        display: none;
    }
    .block-much .col-md-2.measuring{
        width: 100%;
    }
    .leave-comment.measuring{
        z-index: 1000;
    }
    #topic-review > div.form-group.review-group.review-buttons > div:nth-child(2){
        margin-left: 0px;
    }
    #button-add-recall{
        z-index: 1000;
    }
    span.not-tematic{
        position: relative;
        top: -50px;
    }

}





/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    span.not-tematic{
        position: relative;
        top: -50px;
    }
    header .top_header ul li a{
        color: #ff7920;
        text-decoration: underline;
        padding:0px;}
    /* header */
    header .top_header .header_search p {
        font-size: 12px;
    }
    header .top_header .profile .left a:after {
        left: 49px;
    }
    header .top_header .profile .right a:after {
        left: 26px;
    }
    header .header_nav ul li {
        display: block;
        text-align: center;
        font-size: 14px;
    }
    header .header_nav ul li a {
        padding: 10px 0;
    }
    header .header_nav ul li:last-child a {
        padding: 10px 0;
    }
    header .header_nav ul li:last-child a:after {
        right: -19px;
        top: 17px;
    }
    /* index */
    main .top_news ul li {
        margin-left: 5px;
    }
    /* hidden */
    #registration {
        width: 250px;
    }
    #registration .social img {
        margin-left: 2px;
    }

    #enter {
        width: 250px;
    }
    #enter .social img {
        margin-left: 2px;
    }

    #forgot_password {
        width: 250px;
    }
    #forgot_password .social img {
        margin-left: 2px;
    }
    /* earn */
    .earn ul li a {
        padding: 0 4px;
    }
    /* profile_draft */
    .profile_draft .block img {
        margin-bottom: 10px;
    }
    /* listing */
    .listing .sorting ul li {
        margin: 0 0 0 6px;
    }
    .pagination ul li a {
        padding: 0 6px;
    }
    /* profile_message */
    .profile_message textarea {
        width: 100%;
    }
    .profile_message input {
        width: 100%;
    }
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
@media only screen and (min-width : 160px) {


    @media screen and (min-device-width: 768px) and (max-device-width: 997px) {
        /* .top_news .row.block{
             min-height: 422px;
         } */
        div.col-md-12.div-resize-tes{
            position: relative;
            top: -10px;
        }
        .col-md-12 .no-fotoid{
            position: relative;
            top: -15px;
        }
        .tem-test-descr{
            position: relative;
            top: 10px;
            left: 15px;
        }
        .col-md-12.div-resize-tes{
            position: relative;
            top: -20px;
        }
    }
    @media screen and (min-device-width: 468px) and (max-device-width: 571px) {
        .col-md-12.div-resize-tes{
            position: relative !important;
            top: -20px !important;
        }
    }
    @media screen and (min-device-width: 580px) and (max-device-width: 606px) {
        .top_news .row.block {
            min-height: 870px ;
        }  
        .col-md-12.div-resize-tes{
            position: relative;
            top: -15px;
        }
    }
    @media screen and (min-device-width: 607px) and (max-device-width: 768px) {
        .top_news .row.block {
            min-height: 420px ;
        }  
        .col-md-12.div-resize-tes{
            position: relative;
            top: -15px;
        }

    }
    @media screen and (min-device-width: 481px) and (max-device-width: 768px) {
        /* .listing{
             width: 89%;
             float: right;
         }*/

        .listing .sorting ul{
            float: none;
            text-align: center;
        }
        .col-md-12 .no-fotoid{
            position: relative !important;
            top: -10px !important;
        }
        .stars-list-recall {
            float: right;
            margin-right: 30px;
            position: relative;
            top: -20px;
        }
        header .top_header .header_search p{
            right: 15px;
            position: relative;
        }

        .banner2 img, main .banner3 img {
            width: 100% !important;
        }

        div.col-md-6.col-sm-6.home > img{
            width: 100% !important;
        }
    }


